<div class="header">Brain Trust Bet Tracker</div>

{{#link-to 'users' class="button"}}
    users
  {{/link-to}}

 {{#link-to 'bets' class="button"}}
    bets
  {{/link-to}}

 <div>
      {{input value=model.name class="form-control"}}
  </div>

{{outlet}}
